*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-09-07-ControlStructures.md
_posts/2022-09-05-Vectors.md
_posts/2022-09-05-JavaMenu.md
_posts/2022-09-04-Objects+Inheritance.md
_posts/2022-09-04-JavaAPI.md
_posts/2022-09-03-JavaGame.md
_posts/2022-08-28-pyVerifyEnvironment.md
_posts/2022-08-25-VerifyEnvironment.md
_posts/2022-08-25-pyVerifyEnvironment.md
_posts/2022-08-24-CoulombLaw.md
_posts/2022-08-21-JavaHouse.md
_posts/2022-08-19-JavaAnatomy.md
_posts/2022-08-19-bash_test.md
_posts/2022-07-28-java_test.md
_posts/2022-07-21-neo4j_intro.md
_posts/2020-02-20-test.md
